body {
background: #4b6cb7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}

h1 {
	font-family: 'Coming Soon', cursive;
	font-size: 50px;
	color: #ffffff;
}

h2 {
	font-family: 'Coming Soon', cursive;
	font-size: 20px;
	color: #ffffff;
	float: left;
	position: absolute;
	padding-left: 20px
}

h3 {
	font-family: 'Coming Soon', cursive;
	font-size: 28px;
	color: #ffffff;
	position: absolute;
	margin-top: -35px;
    margin-left: 460px;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
}

p {
	font-family: 'Coming Soon', cursive;
	font-size: 100px;
	color: #ffffff;
}

#lost{
	padding-top:30px;
}

#tied{
	padding-top:60px;
}


#chalkboard {
	background-image: url("https://pixabay.com/static/uploads/photo/2014/11/05/12/08/chalkboard-517818_960_720.jpg");    background-position: center;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    margin: auto;
    border-style: solid;
    border-color: #834040;
    border-width: 7px;
}

#game {
	max-width: 300px;
    display: inline-block;
    padding-top: 25px;
}

.box {
	height: 100px;
	width: 100px;
	display: inline-block;
}

.row {
	margin-bottom: -11px;

}

.toprow {

	border-style: solid;
	border-color: #ffffff;
	border-width: 0px 0px 4px 0px;

}

.middlerow {
	border-style: solid;
	border-color: #ffffff;
	border-width: 0px 0px 4px 0px;
}

.centercolumn {
	border-style: solid;
	border-color: #ffffff;
	border-width: 0px 4px 0px 4px;
}

#newGame {
	margin-top:15px;

}




